$white: #fff;
$light: #f8f8f8;
$black: #282828;
$primary: #3ec47f;
$secondary: #1f392c;
$tertiary: #e8c68d;

$text: #000;
$transition: all 0.3s ease-in-out;
$box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15) !important;

$radius: 0;
$radius-btn: 50px;
$border: #e1e1e1;

$deslg: 1920px;
$desmd: 1440px;
$des: 1280px;
$lap: 1024px;
$tab: 992px;
$mob: 768px;
$sm: 576px;