input,
textarea {

  &:not([name=search]) {
    border: 1px solid $border !important;
  }

  &:focus {
    outline: none;
    box-shadow: none !important;
    border-color: $border !important;
  }
}

select {
  padding: 10px !important;
  height: auto !important;
  border: 1px solid $border !important;
  box-shadow: none !important;
  appearance: none !important;

  background-image: linear-gradient(45deg, transparent 50%, #000 50%), linear-gradient(135deg, #000 50%, transparent 50%) !important;
  background-position: calc(100% - 15px) calc(1em + 6px), calc(100% - 10px) calc(1em + 6px) !important;
  background-size: 5px 5px, 5px 5px !important;
  background-repeat: no-repeat !important;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    outline: none;
    box-shadow: none !important;
    border-color: $border !important;
  }
}

